@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&family=Ubuntu:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

:root {
  --clr-cta-tex: hsl(356, 100%, 66%);
  --clr-cta-hover: hsl(355, 100%, 74%);
  --clr-heading: hsl(208, 49%, 24%);
  --clr-body: hsl(0, 0%, 100%);
  --clr-footer: hsl(240, 2%, 79%);
  --clr-body-copy: hsl(207, 13%, 34%);
  --clr-footer-bg: hsl(240, 10%, 16%);
  --clr-intro: linear-gradient(to right, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
  --clr-bg-dark: linear-gradient(to right, hsl(237, 17%, 21%), hsl(237, 23%, 32%));
  --ff-heading: "Overpass", sans-serif;
  --ff-body: "Ubuntu", sans-serif;
  --transition: all .3s ease-in;
}

body {
  overflow-x: hidden;
  font-size: 1.6rem;
  font-family: var(--ff-body);
}

h1, h2, h3 {
  font-family: var(--ff-heading);
}

header {
  background-image: url("/images/bg-pattern-intro-desktop.svg"), var(--clr-intro);
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 450px;
  width: 100%;
  color: var(--clr-body);
  border-radius: 0 0 0 120px;
}
@media screen and (max-width: 768px) {
  header {
    background-image: url("/images/bg-pattern-intro-mobile.svg"), var(--clr-intro);
    background-position: center;
  }
}
header .container {
  padding: 1em;
  max-width: 990px;
  margin: 0 auto;
}
header .container .navigation {
  display: none;
  position: fixed;
  top: 70px;
  right: -400px;
  z-index: 1000;
  transition: var(--transition);
}
header .container .navigation .close {
  position: absolute;
  background: var(--clr-intro);
  width: 50px;
  height: 50px;
  display: flex;
  right: 0;
  top: -40px;
  align-content: center;
  justify-content: center;
  padding: 0.2em;
  border-radius: 8px;
}
header .container .navigation .close img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media screen and (max-width: 768px) {
  header .container .navigation {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    background: var(--clr-body);
    width: 400px;
    border-radius: 20px;
    padding: 1em 0;
  }
  header .container .navigation .select {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    padding: 1em;
  }
  header .container .navigation .select select {
    border: none;
    padding: 1em;
    font-size: 1.5rem;
    font-weight: 600;
    background: transparent;
  }
}
header .container .navigation.active {
  right: 0;
}
header .container .mobile {
  display: none;
  align-items: center;
  justify-content: space-between;
  padding: 1em 0;
}
@media screen and (max-width: 768px) {
  header .container .mobile {
    display: flex;
  }
}
header .container .mobile .logo {
  width: 80px;
}
header .container .mobile .logo img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
header .container .desktop-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 0;
}
@media screen and (max-width: 768px) {
  header .container .desktop-nav {
    display: none;
  }
}
header .container .desktop-nav .left {
  display: flex;
  align-items: center;
  gap: 2em;
}
header .container .desktop-nav .left .logo {
  width: 80px;
}
header .container .desktop-nav .left .logo img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
header .container .desktop-nav .left .select {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
  cursor: pointer;
}
header .container .desktop-nav .left .select select {
  border: none;
  outline: none;
  background: transparent;
  padding: 0.3em;
  color: var(--clr-body);
  cursor: pointer;
  transition: var(--transition);
}
header .container .desktop-nav .left .select select:hover {
  text-decoration: underline;
}
header .container .desktop-nav .left .select select option {
  cursor: pointer;
  color: black;
  margin: 1em 0;
}
header .container .desktop-nav .right {
  display: flex;
  gap: 2em;
}
header .container .desktop-nav .right .login {
  text-align: center;
  color: var(--clr-body);
  padding: 0.3em 1em;
  transition: var(--transition);
}
header .container .desktop-nav .right .login:hover {
  color: var(--clr-cta-tex);
  background: var(--clr-body);
  border-radius: 20px;
}
header .container .desktop-nav .right .sign_up {
  text-align: center;
  color: var(--clr-cta-tex);
  background: var(--clr-body);
  padding: 0.3em 1em;
  border-radius: 20px;
  transition: var(--transition);
}
header .container .desktop-nav .right .sign_up:hover {
  background: var(--clr-cta-hover);
  color: var(--clr-body);
}
header .container .intro {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin: 6em 0;
  flex-direction: column;
}
header .container .intro h1 {
  text-align: center;
  font-size: 5rem;
}
header .container .intro p {
  color: var(--clr-footer);
  text-align: center;
}
header .container .intro .cta {
  display: flex;
  gap: 2rem;
}
header .container .intro .cta .btn_1 {
  text-align: center;
  color: var(--clr-cta-tex);
  background: var(--clr-body);
  padding: 0.4em 1em;
  border-radius: 20px;
  transition: var(--transition);
}
header .container .intro .cta .btn_1:hover {
  background: var(--clr-cta-hover);
  color: var(--clr-body);
}
header .container .intro .cta .btn_2 {
  text-align: center;
  color: var(--clr-body);
  background: transparent;
  padding: 0.4em 1em;
  border: 1px solid var(--clr-body);
  border-radius: 20px;
  transition: var(--transition);
}
header .container .intro .cta .btn_2:hover {
  background: var(--clr-body);
  color: var(--clr-cta-hover);
}

.sec_1 {
  position: relative;
}
.sec_1 .container {
  padding: 1em;
  max-width: 990px;
  margin: 10em auto;
}
.sec_1 .container h2 {
  color: var(--clr-heading);
  text-align: center;
  font-size: 3rem;
}
.sec_1 .container .content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 400px 400px;
}
.sec_1 .container .content .left {
  grid-row: 2;
}
.sec_1 .container .content .left h3 {
  color: var(--clr-heading);
  margin: 1em 0;
  font-size: 2.5rem;
  text-align: center;
}
.sec_1 .container .content .left p {
  color: var(--clr-body-copy);
  line-height: 1.5;
  text-align: center;
}
.sec_1 .container .content .right {
  grid-row: 1;
  width: 100%;
  height: 100%;
  background-image: url("/images/illustration-editor-mobile.svg");
  background-repeat: no-repeat;
  background-size: fill;
  background-position: center;
}
@media screen and (min-width: 990px) {
  .sec_1 .container .content {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 400px;
    margin-top: 4em;
  }
  .sec_1 .container .content .left {
    grid-column: 1;
    grid-row: 1;
  }
  .sec_1 .container .content .left h3 {
    text-align: left;
  }
  .sec_1 .container .content .left p {
    text-align: left;
  }
  .sec_1 .container .content .right {
    position: absolute;
    height: 120%;
    right: -600px;
    top: 0;
    grid-column: 2;
    background-image: url("/images/illustration-editor-desktop.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.sec_2 {
  height: 650px;
  background-image: url("/images/bg-pattern-circles.svg"), var(--clr-bg-dark);
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: fill;
  margin-top: 30em;
  border-radius: 0 100px 0 100px;
}
@media screen and (min-width: 990px) {
  .sec_2 {
    margin-top: 10em;
    height: 320px;
    background-position: left bottom;
  }
}
.sec_2 .container {
  padding: 1em;
  max-width: 990px;
  width: 100%;
  margin: 20em auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 400px 400px;
  gap: 2rem;
}
.sec_2 .container .left {
  position: relative;
}
.sec_2 .container .left img {
  top: -200px;
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.sec_2 .container .right {
  margin-top: -250px;
}
.sec_2 .container .right h2 {
  color: var(--clr-body);
  font-size: 3rem;
  text-align: center;
  margin: 1em 0;
}
.sec_2 .container .right p {
  color: var(--clr-footer);
  line-height: 1.5;
  text-align: center;
  font-size: 2rem;
}
@media screen and (min-width: 990px) {
  .sec_2 .container {
    grid-template-rows: 400px;
    grid-template-columns: 1fr 1fr;
  }
  .sec_2 .container .left {
    top: 100px;
  }
  .sec_2 .container .left img {
    top: -200px;
    left: -80px;
    width: 120%;
    height: 120%;
  }
  .sec_2 .container .right {
    margin: 1em 0;
  }
  .sec_2 .container .right h2 {
    text-align: left;
  }
  .sec_2 .container .right p {
    text-align: left;
  }
}

.sec_3 {
  position: relative;
  height: auto;
}
.sec_3 .container {
  padding: 1em;
  max-width: 990px;
  margin: 5em auto;
}
@media screen and (min-width: 990px) {
  .sec_3 .container {
    margin: 20em auto;
  }
}
.sec_3 .container .content {
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  grid-template-columns: 1fr;
  grid-template-rows: 400px 400px;
}
@media screen and (min-width: 990px) {
  .sec_3 .container .content {
    grid-template-rows: 500px;
    grid-template-columns: 1fr 1fr;
  }
}
.sec_3 .container .content .left {
  background-image: url("/images/illustration-laptop-mobile.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: fill;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 990px) {
  .sec_3 .container .content .left {
    position: absolute;
    grid-column: 1;
    height: 120%;
    left: -490px;
    top: 0;
    background-image: url("/images/illustration-laptop-desktop.svg");
    background-repeat: no-repeat;
    background-size: contain;
  }
}
.sec_3 .container .content .right {
  display: grid;
  gap: 1rem;
}
.sec_3 .container .content .right h2 {
  color: var(--clr-heading);
  font-size: 2.5rem;
  margin: 1em 0;
}
.sec_3 .container .content .right p {
  color: var(--clr-body-copy);
  line-height: 1.5;
}
@media screen and (min-width: 990px) {
  .sec_3 .container .content .right {
    grid-column: 2;
  }
}

footer {
  height: 900px;
  background: var(--clr-footer-bg);
  color: var(--clr-footer);
  border-radius: 0 100px 0 0;
  margin-top: 10em;
}
@media screen and (min-width: 568px) {
  footer {
    height: 600px;
  }
}
@media screen and (min-width: 990px) {
  footer {
    height: 350px;
  }
}
footer .container {
  height: 100%;
  padding: 3em 1em;
  max-width: 990px;
  width: 100%;
  margin: 3em auto;
  display: grid;
  gap: 2em;
}
@media screen and (min-width: 568px) {
  footer .container {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 990px) {
  footer .container {
    grid-template-columns: repeat(4, 1fr);
  }
}
footer .container .logo, footer .container .product, footer .container .company, footer .container .connect {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: start;
}
footer .container .logo h3, footer .container .product h3, footer .container .company h3, footer .container .connect h3 {
  font-size: 2.5rem;
  margin: 0 0 1em 0;
}
footer .container .logo li, footer .container .product li, footer .container .company li, footer .container .connect li {
  margin: 1em 0;
}/*# sourceMappingURL=style.css.map */